body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #FFF;
    margin: 0;
}

.no-scroll {
    overflow: hidden;
}

header {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 330px;
    background-image: url('media/all.webp');
    background-size: cover;
    background-position: center;
    z-index: 10;
    font-weight: 400;
    margin: 0 auto;
}

.filter-container {
    background-color: #f8cacb;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 270px;
    padding: 20px 84px;
    box-sizing: border-box;
}

.filter-content {
    position: absolute;
}

.dropbtn {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    background-color: #FFF;
    color: #000;
    padding: 16px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    border: 1.5px solid #000;
    z-index: 10;
    top: 30px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ffebed;
}

.dropbtn .fa-solid {
    font-size: 20px;
}

.dropdown-content .fa-solid,
.fa-regular,
.fa-brands {
    margin-right: 15px;
    width: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 73px;
    margin-left: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.1px;
}

.dropdown-content a:hover {
    background-color: #ffebed;
    /*    font-weight: bold;*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

.selected-filter {
    display: inline-block;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
}

.filter-description {
    font-size: 18px;
    font-weight: 350;
    letter-spacing: 0.1px;
    line-height: 140%;
    color: #000;
    margin-top: 85px;
    margin-left: 0px;
    max-width: 440px;
    z-index: -1;
}

.box-key {
    position: absolute;
    width: 200px;
    right: 83px;
    top: 30px;
    opacity: 0.7;
}








.table-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    transform-origin: top left;
    box-sizing: border-box;
    justify-content: center;
    background-color: #f8cacb;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.category-container .columns {
    display: flex;
    flex-direction: row;
}

.category-container .column {
    display: flex;
    flex-direction: column;
}

.category-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    opacity: 80%;
    transform: translate(-3px, -3px);
    box-shadow: #f5a0a6 6px 6px;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

#box-highlight:hover {
    opacity: 80%;
}

.symbol {
    font-size: 36px;
    font-family: "Roboto Slab", serif;
    position: relative;
    top: -4px;
}

.name {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0.3px;
}

.filter-value {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.3px;
}

.e-number {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.3px;
}

.headline {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.headlineNumber {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Roboto Slab", serif;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
}










.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 81, 80, 0.9);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 370px;
    max-height: 700px;
    background-color: #fbe5e5;
    border-radius: 5px;
    overflow: hidden;
}

.lightbox-body::-webkit-scrollbar {
    display: none;
}

.lightbox-header,
.lightbox-footer {
    position: sticky;
    background-color: #fbe5e5;
    z-index: 10;
}

.lightbox-header {
    top: 0;
    display: flex;
    padding: 10px 15px;
    height: 70px;
    transition: box-shadow 0.3s ease;

}

.lightbox-header.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 8px -8px;
}

.lightbox-footer {
    height: 85px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -10px 8px -8px;
}

.lightbox-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-nav svg {
    width: 40px;
    height: 40px;
    stroke-width: 1.2px;
}

.left {
    border-right: #ccc solid 1px;
}

.lightbox-nav:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.lightbox-details {
    padding: 0 20px;
}

.lightbox-body {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.lightbox-body #radarChart {
    border-radius: 15px;
    height: 350px;
    width: 350px;
    margin-bottom: 30px;
}

.lightbox-title {
    font-size: 1.2em;
    margin-top: 17px;
    margin-bottom: 0;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.lightbox-subtitle {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.symbol-box {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    font-family: "Roboto Slab", serif;
    border: 1px solid #000;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    stroke-width: 1.5;

}

.close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    border-radius: 15px;
}



.detail-headline {
    display: block;
    font-size: 13px;
    color: #666;
}

.detail-value {
    display: block;
    margin-bottom: 15px;
}

.property {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}









.info-container {
    background-color: #f8cacb;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
    padding: 0 137px;
    box-sizing: border-box;
}