html {
    font-size: 16px;
}

@media (max-width: 999px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 599px) {
    html {
        font-size: 10px;
    }
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f8cacb;
    margin: 0;
    padding-bottom: 5rem;
}

.no-scroll {
    overflow: hidden;
}

header {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 33vw;
    max-height: 330px;
    background-image: url('media/all.webp');
    background-size: cover;
    background-position: center;
    z-index: 10;
    font-weight: 400;
    margin: 0 auto;
}

@media (max-width: 599px) {
    header {
        height: 45vw;
    }
}

.filter-container {
    background-color: #f8cacb;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 16.875rem;
    padding: 1.25rem 5.25rem;
    box-sizing: border-box;
    z-index: 10;
}

/*@media (max-width: 999px) {
    .filter-container {
        padding: 20px 54px;
    }
}*/

@media (max-width: 599px) {
    .filter-container {
        padding-left: 1.5rem;
        height: 20rem;
    }


    .filter-description,
    .dropdown-content a {
        font-size: 1.3rem !important;
    }
}

.dropdown {
    transform-origin: top left;
}

.filter-content {
    position: absolute;
}

.dropbtn {
    font-family: "Roboto Condensed", sans-serif;
    position: absolute;
    background-color: #FFF;
    color: #000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27.5rem;
    border: 1.5px solid #000;
    z-index: 10;
    top: 1.875rem;
    /*    transform-origin: top left;*/
}

#id1 {
    transform-origin: top left;
}

.dropbtn:hover {
    background-color: #ffebed;
}

.dropbtn .fa-solid {
    font-size: 20px;
}

.dropdown-content .fa-solid,
.fa-regular,
.fa-brands {
    margin-right: 20px;
    width: 15px;
    color: #e97986;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 4.5625rem;
    margin-left: 0.625rem;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.dropdown-content a {
    color: black;
    padding: 0.75rem 1.375rem;
    text-decoration: none;
    display: block;
    margin: 0;
    font-size: 1.125rem;
    letter-spacing: 0.00625rem;
}

.dropdown-content a:hover {
    background-color: #ffebed;
}

.active {
    font-weight: 600;
}

/*.dropdown:hover .dropdown-content {
    max-height: 31.25rem;
    transition: max-height 0.2s ease-in;
}*/

.selected-filter {
    display: inline-block;
    margin-left: 10px;
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
}

.filter-description {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: #000;
    margin-top: 5.8rem;
    margin-left: 0px;
    max-width: 34.375rem;
    z-index: -1;
}

.box-key {
    opacity: 0.7;
}

#box-key-large {
    position: absolute;
    width: 200px;
    right: 83px;
    top: 30px;
}

#box-key-small {
    margin-left: 5.25rem;
    margin-bottom: 2rem;
    display: none;
}

@media (max-width: 999px) {
    #box-key-large {
        display: none;
    }

    #box-key-small {
        display: block;
    }
}





.vizContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8cacb;
}

.table-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transform-origin: top;
    box-sizing: border-box;
    justify-content: center;
}

.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.category-container .columns {
    display: flex;
    flex-direction: row;
}

.category-container .column {
    display: flex;
    flex-direction: column;
}

.category-container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 599px) {
    .table-container {
        flex-direction: column;
        margin-left: 20px;
        transform-origin: top left;
        justify-content: flex-start;
    }

    .category-container {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0px;
    }

    .category-container .columns {
        display: flex;
        flex-direction: column;
    }

    .category-container .column {
        display: flex;
        flex-direction: row;
    }

    .category-container .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .headline {
        display: none !important;
    }

    .headlineNumber {
        width: 45px;
    }

}

.box {
    width: 95px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    position: relative;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
}

.box:hover {
    opacity: 80%;
    transform: translate(-3px, -3px);
    box-shadow: #f5a0a6 6px 6px;
}

#box-highlight:hover {
    opacity: 80%;
}

.symbol {
    font-size: 36px;
    font-family: "Vollkorn", serif;
    position: relative;
    top: -4px;
}

.name {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0.3px;
}

.filter-value {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.3px;
}

.e-number {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
    font-size: 11px;
    color: #fff;
    letter-spacing: 0.3px;
}

.headline {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.headlineNumber {
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 5px;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 12px;
}










.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 81, 80, 0.9);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbe5e5;
    border-radius: 5px;
    overflow: hidden;
    max-width: 370px;
    max-height: 700px;
    box-sizing: border-box;
}

.lightbox-body::-webkit-scrollbar {
    display: none;
}

.lightbox-header,
.lightbox-footer {
    position: sticky;
    background-color: #fbe5e5;
    z-index: 10;
}

.lightbox-header {
    top: 0;
    display: flex;
    padding: 10px 10px;
    height: 70px;
    transition: box-shadow 0.3s ease;

}

.lightbox-header.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 8px -8px;
}

.lightbox-footer {
    height: 85px;
/*    bottom: 0px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -10px 8px -8px;
}

.lightbox-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-nav svg {
    width: 40px;
    height: 40px;
    stroke-width: 1.2px;
    color: red;
}

.left {
    border-right: #ccc solid 1px;
}

.lightbox-nav:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.lightbox-details {
    padding: 0 20px;
}

.lightbox-body {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.lightbox-body #radarChart {
    border-radius: 15px;
    height: 350px;
    width: 350px;
    margin-bottom: 30px;
}

.lightbox-title {
    font-size: 1.2em;
    margin-top: 17px;
    margin-bottom: 0;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.lightbox-subtitle {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.symbol-box {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    margin-right: 10px;
    font-family: "Vollkorn", serif;
    border: 2px solid #000;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    stroke-width: 1.5;

}

.close:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    border-radius: 15px;
}



.detail-headline {
    display: block;
    font-size: 13px;
    color: #666;
    letter-spacing: 1px;
}

.detail-value {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.property {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

.lightbox-details .property i {
    color: #fff;
    margin-right: 5px;
}








.info-container {
    background-color: #f8cacb;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.25rem 5.25rem;
    box-sizing: border-box;
}

@media (max-width: 599px) {
    .info-container {
        padding: 1.5rem;
    }

    .panel {
        font-size: 1.3rem !important;
        margin: 10px !important;
    }

    .accordion-header {
        font-size: 1.5rem !important;
    }
}

.accordion {
    background-color: #f8cacb;
    color: #000;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    border-top: #000 solid 1px;
    outline: none;
    transition: background-color 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
}

#accordionE {
    pointer-events: none;
}

.accordion.active {}


.accordion:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.accordion-header {
    margin-left: 15px;
}

.accordion-number {
    display: inline-block;
    width: 15px;
}

.panel {
    padding: 0;
    background-color: #f8cacb;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out, padding 0.4s ease-out;
    letter-spacing: 0.02em;
    line-height: 140%;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1rem;
}

.panel.show {
    max-height: 500px;
}

.chevron {
    transition: transform 0.4s ease;
}

.chevron.rotate {
    transform: rotate(180deg);
}

.footer {
    font-size: 1.15rem;
    letter-spacing: 0.01rem;
    line-height: 130%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    font-size: 14px;
}

a:hover {
    opacity: 0.7;
}

a:visited {
    color: #666;
}